<?xml version="1.0"?>
<ruleset name="PSR-1 and PSR-2 code sniffs">
	<description>Generally-applicable sniffs for modern PHP development</description>

    <rule ref="PSR1">
        <exclude name="PSR1.Files.SideEffects.FoundWithSymbols" />
    </rule>
    <rule ref="PSR2">
        <exclude name="PSR2.Classes.PropertyDeclaration.Underscore" />
    </rule>


	<!-- Check all PHP files in directory tree by default. -->
	<arg name="extensions" value="php"/>
	<file>.</file>

	<!-- Show progress and sniff codes in all reports -->
	<arg value="ps"/>

	<exclude-pattern>*/vendor/*</exclude-pattern>
	<exclude-pattern>*/tests/*</exclude-pattern>
	<exclude-pattern>*/languages/*</exclude-pattern>
	<exclude-pattern>*/deprecatded.php</exclude-pattern>
</ruleset>