<?xml version="1.0"?>
<ruleset name="WordPress Coding Standards for Plugins">
	<description>Generally-applicable sniffs for WordPress plugins</description>

	<rule ref="WordPress-Extra">
	    <exclude name="WordPress.Files.FileName.NotHyphenatedLowercase" />
	    <exclude name="WordPress.Files.FileName.InvalidClassFileName" />
	</rule>
	<rule ref="WordPress-Docs" />

	<!-- Check all PHP files in directory tree by default. -->
	<arg name="extensions" value="php"/>
	<file>.</file>

	<!-- Show progress and sniff codes in all reports -->
	<arg value="ps"/>

	<exclude-pattern>*/vendor/*</exclude-pattern>
	<exclude-pattern>*/tests/*</exclude-pattern>
	<exclude-pattern>*/languages/*</exclude-pattern>
	<exclude-pattern>*/deprecated.php</exclude-pattern>
</ruleset>